.header{
  display: flex;
  height: 60px;

  .score{
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .controls{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}